<nav class="navbar navbar-light bg-success">
    <div>
        <h1>Event Creator</h1>
    </div>
</nav>


<div>
<button (click)="leaveUpdateInvitePage()" class="btn btn-secondary">Back to Events</button>
</div>

<br>
<div>
    <b> Update Invite</b>
</div>


<div>
<div class="input-group mb-0">
        <span class="input-group-text">Add Attendee: </span>
        <input class="form-control" type="text" name="Guess" placeholder="Type in userId here">
        <button (click)="onClickAddPerson()" class="btn btn-success">Add</button>
        <button (click)="onClickDeletePerson()" class="btn btn-danger"> Delete</button>
    </div>
<br>
<br>

    <div class="text-success">
        <b>Guess List:</b>
    </div>
    <br>
    <br>

    <div class="text-secondary">
    <b>List of Members: </b>
    </div>

    <div>
        <b>Last Name: </b>
        {{userIdInfo}}
    </div>

    <div>
        <b>First Name: </b>
        {{userIdInfo}}
    </div>

    <div>
        <b>UserId: </b>
        {{userIdInfo}}
    </div>

    <br>
    <br>

    <div>
        <button (click)="updateInvite()" class="btn btn-success">Send Invite</button>
    </div>
</div>