<nav class="navbar navbar-light bg-success">
    <div>
        <h1>Event Creator</h1>
    </div>
</nav>

<button type="button" (click)="backToLogin()" class="btn btn-secondary">Back to Login</button>
<br>

<form #registrationForm="ngForm" (ngSubmit)="registerUser(registrationForm)">


    <div>
    <br>
        <div class="input-group mb-0">
            <span class="input-group-text">First Name: </span>
        <input class="form-control" name="firstName" ngModel type="text">
        </div>
            <div class="text-danger">
            {{firstNameErrorMessages}}
            </div>
        <br>
    </div>
    <div>

        <div class="input-group mb-0">
            <span class="input-group-text">Last Name: </span>
        <input class="form-control" name="lastName" ngModel type="text">
        </div>
            <div class="text-danger">
            {{lastNameErrorMessages}}
            </div>
        <br>
    </div>
    <div>

        <div class="input-group mb-0">
            <span class="input-group-text">UserId: </span>
        <input class="form-control" name="userId" ngModel type="text">
        </div>
            <div class="text-danger">
            {{userIdErrorMessages}}
            </div>
        <br>
    </div>
    <div>

        <div class="input-group mb-0">
        <span class="input-group-text">Email: </span>
            <input class="form-control" class="form-control" name="email" ngModel type="text">
        </div>

            <div class="text-danger">
            {{emailNameErrorMessages}}
            <br>
            {{email2NameErrorMessages}}
            <br>
            {{email3NameErrorMessages}}
        </div>
    </div>
    <div>

        <div class="input-group mb-0">
            <span class="input-group-text">Password: </span>
        <input class="form-control" name="password" ngModel type="text">
    </div>
            <div class="text-danger">
            {{passwordErrorMessages}}
            <br>
            {{password2ErrorMessages}}
            <br>
            {{password3ErrorMessages}}
            <br>
            {{password4ErrorMessages}}
            </div>

    </div>

    <div class="justify-content-around">
        <!--Specify types to avoid conflicts with form
        without types your cancel btn will submit data while canceling too-->
        <button type="button" (click)="cancelRegistration()" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-success">Register</button>
    </div>

</form>
<br>
<div class="text-success">
    {{registerNewUserMessageSuccess}}
</div>
<div class="text-danger">
    {{registerNewUserMessageFailure}}
</div>
