<nav class="navbar navbar-light bg-success">
    <div>
        <h1>Event Creator</h1>
    </div>
</nav>

<div>
<button (click)="onClickBack()" class="btn btn-secondary">Back to main</button>
</div>
<br>
<div>
    <b>Update Event</b>
</div>

<div name="event" >

<!--    template-driven form-->
    <form #eventForm="ngForm" (ngSubmit)="onUpdateEventClick(eventForm.value)">

        <div class="input-group mb-0">
            <input id="eventId" name="id" [ngModel]="this.updatedEventDataValues.id" type="hidden" class="form-control">
        </div>


        <div class="input-group mb-0">
            <span class="input-group-text">Event Name: </span>
<!--            template-driven form allow ngmodel to populate data into fields-->
            <input id="eventName" name="eventName" [ngModel]="this.updatedEventDataValues.eventName" type="text" class="form-control">
        </div>

        <div class="text-danger">
            {{eventNameMessage}}
        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Event Date: </span>
            <input name="meetingDate" [ngModel]="this.updatedEventDataValues.meetingDate" type="Date" class="form-control">
        </div>

        <div class="text-danger">
            {{eventMeetingDateMessage}}
        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Event Start Time: </span>
            <input name="eventTimeStart" [ngModel]="this.updatedEventDataValues.eventTimeStart" type="time" class="form-control">
        </div>

        <div class="text-danger">
            {{eventTimeStartMessage}}
        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Event End Time: </span>
            <input name="eventTimeEnd" [ngModel]="this.updatedEventDataValues.eventTimeEnd" type="time" class="form-control">
        </div>

        <div class="text-danger">
            {{eventTimeEndMessage}}
        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Location: </span>
            <input name="location" [ngModel]="this.updatedEventDataValues.location" type="text"  class="form-control">
        </div>

        <div class="text-danger">
            {{eventLocationMessage}}
        </div>

        <br>

        <div class="text justify-content-center">
            <div class="text-danger justify-content-center">
                {{eventFailureMessage}}
            </div>

            <div class="text-success justify-content-center">
                {{eventSuccessMessage}}
            </div>

        </div>

        <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-success">Update Event</button>
        </div>

    </form>

</div>