<nav class="navbar navbar-light bg-success">
    <div>
        <h1>Event Creator</h1>
    </div>
</nav>

<div>
<button (click)="onClickBack()" class="btn btn-secondary">Back to main</button>
</div>
<br>
<div>
    <b>Update Event</b>
</div>

<div name="event" >

<!--    template-driven form-->
    <form #eventForm="ngForm" (ngSubmit)="onUpdateEventClick(eventForm.value)">

        <div class="input-group mb-0">
            <span class="input-group-text">Event Name: </span>
<!--            template-driven form allow ngmodel to populate data into fields-->
            <input id="eventName" name="eventName" [ngModel]="this.updatedEventDataValues.eventName" type="text" class="form-control">
        </div>

        <div class="text-danger">

        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Event Date: </span>
            <input name="meetingDate" [ngModel]="this.updatedEventDataValues.meetingDate" type="Date" class="form-control">
        </div>

        <div class="text-danger">

        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Event Start Time: </span>
            <input name="eventTimeStart" [ngModel]="this.updatedEventDataValues.eventTimeStart" type="time" class="form-control">
        </div>

        <div class="text-danger">

        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Event End Time: </span>
            <input name="eventTimeEnd" [ngModel]="this.updatedEventDataValues.eventTimeEnd" type="time" class="form-control">
        </div>

        <div class="text-danger">

        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Location: </span>
            <input name="location" [ngModel]="this.updatedEventDataValues.location" type="text"  class="form-control">
        </div>

        <div class="text-danger">

        </div>


        <div class="input-group mb-0">
            <span class="input-group-text">Host of Event: </span>
            <input name="ContactPersonName" [ngModel]="this.updatedEventDataValues.contactPersonEmail" type="text" class="form-control">
        </div>

        <div class="text-danger">


        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Host of Event Number: </span>
            <input name="ContactPersonNumber" [ngModel]="this.updatedEventDataValues.contactPersonNumber" type="number" class="form-control">
        </div>

        <div class="text-danger">


        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Host of Event Email Address: </span>
            <input name="ContactPersonEmail" [ngModel]="this.updatedEventDataValues.contactPersonEmail" type="email" class="form-control">
        </div>

        <div class="text-danger">


        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Cost to Attend: </span>
            <input name="costToAttend" [ngModel]="this.updatedEventDataValues.costToAttend" type="text" class="form-control">
        </div>

        <div class="text-danger">

        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Additional Notes: </span>
            <input name="notes" [ngModel]="this.updatedEventDataValues.notes" type="text" class="form-control">
        </div>
        <br>
        <div class="text-danger">
            {{eventUpdateFail}}
        </div>

        <br>




        <br>
        <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-primary">Update Event</button>
        </div>

    </form>

</div>