<nav class="navbar navbar-light bg-success">
    <div>
        <h1>Event Creator</h1>
    </div>
</nav>

<div>
    <button (click)="leaveEventPage()" class="btn btn-secondary">Back to main</button>
</div>
<br>
<div>
    <b>Create Event</b>
</div>

<div name="event" >
    <form #eventForm="ngForm" (ngSubmit)="onNewEventClick(eventForm)">


        <div class="input-group mb-0">
            <span class="input-group-text">Event Name: </span>
            <input name="eventName" ngModel type="text" class="form-control">
        </div>

        <div class="text-danger">
        {{eventNameMessage}}
        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Event Date: </span>
            <input name="meetingDate" ngModel type="Date" class="form-control">
        </div>

        <div class="text-danger">
        {{eventMeetingDateMessage}}
        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Event Start Time: </span>
            <input name="eventTimeStart" ngModel type="time" class="form-control">
        </div>

        <div class="text-danger">
        {{eventTimeStartMessage}}
        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Event End Time: </span>
            <input name="eventTimeEnd" ngModel type="time" class="form-control">
        </div>

        <div class="text-danger">
        {{eventTimeEndMessage}}
        </div>

        <div class="input-group mb-0">
            <span class="input-group-text">Location: </span>
            <input name="location" ngModel type="text"  class="form-control">
        </div>

        <div class="text-danger">
        {{eventLocationMessage}}
        </div>
        <br>
        <div class="text justify-content-center">
            <div class="text-danger justify-content-center">
                {{eventFailureMessage}}
             </div>

                <div class="text-success justify-content-center">
                    {{eventSuccessMessage}}
                </div>
        </div>
                <br>
        <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-primary">Submit Event</button>
        </div>

    </form>

</div>