<nav class="navbar navbar-light bg-success">
<div>
    <h1>Event Creator</h1>
</div>
</nav>
<!--Use template ref. variable 'loginForm' to get access to the form -->
<!--assign string 'ngForm' to make ngForm export itself
so that I have a reference to the directive itself-->
<!--the directive gives us access to the values in the for, -->
<ng-form #loginForm="ngForm" (ngSubmit)="onLoginClick(loginForm)">
    {{loginForm.value | json}}
<div>
    <!--Need name attribute and ngModel to get
     access to data within the fields-->
    <input name="userName" type="text" ngModel placeholder="Username">
</div>
<div>
    <input name="password" type="text" ngModel placeholder="Password">
</div>

<div>
    <!--Specify types to avoid conflicts with form
        without types your Join btn will submit data while trying to
         register a new user too-->
    <button type="button" (click)="onJoinClick()">Join</button>
    <!--uses ngSubmit in combo with the submit btn
     to push data to login func.-->
    <button type="submit" >Login</button>
</div>

<div>
    {{errorMessagesServer}}
</div>
</ng-form>

<div>
</div>
