<nav class="navbar navbar-light bg-success">
<div>
    <h1>Event Creator</h1>
</div>
</nav>
<!--Use template ref. variable 'loginForm' to get access to the form -->
<!--assign string 'ngForm' to make ngForm export itself
so that I have a reference to the directive itself-->
<!--the directive gives us access to the values in the for, -->
<div>
<form #loginForm="ngForm" (ngSubmit)="onLoginClick(loginForm)">
    {{loginForm.value | json}}
<div>
    <!--Need name attribute and ngModel to get
     access to data within the fields-->
    <input name="userName" type="text" ngModel placeholder="Username">
    <div class="text-danger">
        {{loginUserError}}
    </div>
    </div>
<div>
    <input name="password" type="password" ngModel placeholder="Password">
    <div class="text-danger">
        {{passwordUserError}}
    </div>
    </div>

<div>
    <!--Specify types to avoid conflicts with form
        without types your Join btn will submit data while trying to
         register a new user too-->
    <button type="button" (click)="onJoinClick()" class="btn btn-success">Join</button>
    <!--uses ngSubmit in combo with the submit btn
     to push data to login func.-->
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" (click)="testBtn()">Test</button>

</div>
</form>
</div>


<div>
</div>
