<nav class="navbar navbar-light bg-success">
    <div>
        <h1>Event Creator</h1>
    </div>
</nav>

<div class="align-items: center">

<!--Use template ref. variable 'loginForm' to get access to the form -->
<!--assign string 'ngForm' to make ngForm export itself
so that I have a reference to the directive itself-->
<!--the directive gives us access to the values in the for, -->
<div class="d-grid gap-2 col-6 mx-auto">
<form #loginForm="ngForm" (ngSubmit)="onLoginClick(loginForm)">
<div class="input-group input-group-lg">
    <!--Need name attribute and ngModel to get
     access to data within the fields-->
<!--    <span class="input-group-text" id="inputGroup-sizing-lg">UserID</span>-->

    <div class="input-group mb-0">
        <span class="input-group-text">UserId: </span>
    <input class="form-control" name="userId" type="text" ngModel placeholder="UserID">
    </div>
    </div>

    <br>
    <div class="text-danger">
        {{loginUserError}}
    </div>

    <div class="input-group input-group-lg">
<!--    <span class="input-group-text" id="inputGroup2-sizing-medium">Password</span>-->

        <div class="input-group mb-0">
            <span class="input-group-text">Password: </span>
    <input class="form-control" name="password" type="password" ngModel placeholder="Password">
        </div>
    </div>

    <br>
    <div class="text-danger">
        {{passwordUserError}}
    </div>

<div class="d-grid gap-2 col-6 mx-auto">
    <!--Specify types to avoid conflicts with form
        without types your Join btn will submit data while trying to
         register a new user too-->
    <button type="submit" class="btn btn-primary btn-lg">Login</button>

    <button type="button" (click)="onJoinClick()" class="btn btn-success btn-lg">Join</button>
    <!--uses ngSubmit in combo with the submit btn
     to push data to login func.-->

</div>
</form>
</div>
<div class="text-danger">
    {{httpLoginUserError}}
</div>

</div>
