<nav class="navbar navbar-light bg-success">
    <div>
        <h1>Event Creator</h1>
    </div>
</nav>

<div class="input-group mb-0" >
    <button (click)="createEvent()" class="btn btn-primary">Create Event</button>
</div>
<div class="input-group mb-0" >
    <button (click)="logOut()" class="btn btn-danger">Log Out</button>
</div>
<div>
    <div class="input-group mb-0" >
        <button (click)="inviteUsers()" class="btn btn-success">Invite Users</button>
    </div>
</div>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="text-center">

</ngb-accordion>