

<!--Show all in Div if your not logged in-->
<div *ngIf="!isLoggedIn">
    <!--If your not registering show the login page-->
<app-login *ngIf="!NewUser"></app-login>
    <!--If your registering show this page-->
<app-registration *ngIf="NewUser"></app-registration>
</div>
<!--hides pages below unless user is logged in-->
<div *ngIf="isLoggedIn">
<app-main *ngIf ="!isCreatingEvent && !isCreatingInvite"></app-main>
    <app-events *ngIf ="!isViewingMainPage && !isCreatingInvite"></app-events>
    <app-invitation *ngIf ="!isViewingMainPage && !isCreatingEvent"></app-invitation>
</div>