

<!--Show all in Div if your not logged in-->
<div *ngIf="!isLoggedIn">
    <!--If your not registering show the login page-->
<app-login *ngIf="!NewUser"></app-login>
    <!--If your registering show this page-->
<app-registration *ngIf="NewUser"></app-registration>

</div>
<!--hides pages below unless user is logged in-->
    <div *ngIf="isLoggedIn">
        <div *ngIf="!isCreatingEvent && !isUpdatingEvent && !isCreatingInvite">
            <app-main></app-main>
        </div>
            <div *ngIf = "isCreatingEvent && !isViewingMainPage">
                <app-events></app-events>
            </div>
        <div *ngIf = "!isViewingMainPage && isCreatingInvite">
    <app-invitation ></app-invitation>
        </div>

<app-update-event *ngIf = "!isCreatingEvent && !isViewingMainPage && !isCreatingInvite  && !isUpdatingInvite && isUpdatingEvent"></app-update-event>

        <div *ngIf = "isUpdatingEvent">
        <app-update-invite > </app-update-invite>
        </div>
</div>

<!--app-main-->
<!--*ngIf = "!isCreatingEvent && !isCreatingInvite && !isUpdatingInvite && !isUpdatingEvent && isViewingMainPage"-->

<!--app-events-->
<!--*ngIf = "!isViewingMainPage && !isCreatingInvite && !isUpdatingInvite && !isUpdatingEvent && isCreatingEvent"-->

<!--*ngIf = "!isCreatingEvent && !isViewingMainPage && !isCreatingInvite && !isUpdatingEvent && isUpdatingInvite">-->