<div class="float-container">

<div class="float-md-start">

    <div class="float Column 1">
        <div class="d-flex justify-content-around">
        <span class="fw-bold">Events</span>
        </div>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="text-center">
    <ngb-panel *ngFor="let listOfEvents of updatedEventList">
        <ng-template  ngbPanelTitle>
            <span><b>Date: </b> {{listOfEvents.meetingDate}} <b>Event: </b>{{listOfEvents.eventName}}</span>
            </ng-template>

        <ng-template ngbPanelContent >

            <div class="container">

    <div>
        <span class="fw-bold" >ID: </span> </div>
                {{listOfEvents.id}}

    <div>
        <span class="fw-bold" >Event Name: </span> </div>
        {{listOfEvents.eventName}}

    <div>
        <span class="fw-bold">Meeting Date:  </span> </div>
        {{listOfEvents.meetingDate}}
    <div>
        <span class="fw-bold">Event Time Start: </span> </div>
        {{listOfEvents.eventTimeStart}}
    <div>
        <span class="fw-bold">Event Time End: </span> </div>
        {{listOfEvents.eventTimeEnd}}
    <div>
        <span class="fw-bold">Location: </span> </div>
        {{listOfEvents.location}}
                <br>
    <br>
    <div class="d-flex justify-content-around">
        <button (click)="manageInvite(listOfEvents.id)" class="btn btn-success">Send Invite</button>
        <button (click)="updateEvent(listOfEvents)" class="btn btn-primary">Update Event</button>
        <button (click)="deleteEvent(listOfEvents.id)" class="btn btn-danger">Delete Event</button>
    </div>
</div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

    </div>
</div>

    <div class="float-child-2">

        <div class="float-md-start">
            <div class="d-flex justify-content-around">
                <span class="fw-bold">Invites Sent</span>
            </div>
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="text-center">
                <ngb-panel *ngFor="let listOfInvites of updatedEventList">
                    <ng-template  ngbPanelTitle>
                        <span><b>Date: </b> {{listOfInvites.meetingDate}} <b>Invite: </b>{{listOfInvites.eventName}} </span>
                    </ng-template>

                    <ng-template ngbPanelContent >

                        <div class="container">

                            <div>
                                <span class="fw-bold" >ID: </span> </div>
                            {{listOfInvites.id}}

                            <div>
                                <span class="fw-bold" >Event Name: </span> </div>
                            {{listOfInvites.eventName}}

                            <div>
                                <span class="fw-bold">Meeting Date:  </span> </div>
                            {{listOfInvites.meetingDate}}
                            <div>
                                <span class="fw-bold">Event Time Start: </span> </div>
                            {{listOfInvites.eventTimeStart}}
                            <div>
                                <span class="fw-bold">Event Time End: </span> </div>
                            {{listOfInvites.eventTimeEnd}}
                            <div>
                                <span class="fw-bold">Location: </span> </div>
                            {{listOfInvites.location}}

                            <br>
                            <br>
                            <div class="d-flex justify-content-around">
                                <!--                    <button (click)="manageInvite()" class="btn btn-success">Manage Invite</button>-->
                                <button (click)="updateInvite(listOfInvites.id)" class="btn btn-primary">Update Invite</button>
                                <button (click)="deleteInvite(listOfInvites.id)" class="btn btn-danger">Delete Invite</button>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>


<div class="float-child-3">

    <div class="float-md-end">
        <div class="d-flex justify-content-around">
        <span class="fw-bold">Invitations Received</span>
        </div>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="text-center">
    <ngb-panel *ngFor="let listOfInvitations of updatedEventList">
        <ng-template  ngbPanelTitle>
            <span><b>Date: </b> {{listOfInvitations.meetingDate}} <b>Invitation: </b>{{listOfInvitations.eventName}}</span>
        </ng-template>

        <ng-template ngbPanelContent >

            <div class="container">

                <div>
                    <span class="fw-bold" >ID: </span> </div>
                {{listOfInvitations.id}}

                <div>
                    <span class="fw-bold" >Event Name: </span> </div>
                {{listOfInvitations.eventName}}

                <div>
                    <span class="fw-bold">Meeting Date:  </span> </div>
                {{listOfInvitations.meetingDate}}
                <div>
                    <span class="fw-bold">Event Time Start: </span> </div>
                {{listOfInvitations.eventTimeStart}}
                <div>
                    <span class="fw-bold">Event Time End: </span> </div>
                {{listOfInvitations.eventTimeEnd}}
                <div>
                    <span class="fw-bold">Location: </span> </div>
                {{listOfInvitations.location}}

                <br>
                <br>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-success">Accept</button>
                    <button (click)="deleteInvitation(listOfInvitations.id)" class="btn btn-danger">Decline</button>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
    </div>
</div>
</div>